*{
    font-family: Munchkin;
}

body{
    background-color: #FFD09A;
}

.button-small{
    height: 50px;
    width: 50px;
}

.button-big{
    height: 50px;
    width: 100px;
    text-align: center;
}

.custom-border {
    color: black;
    background-color: #F6F1DF;
    border: 2px solid black;
    border-radius: 15px;
}

.hiddenscroll::-webkit-scrollbar{
    display: none;
}

a{
    text-decoration: none;
    color: black;
}

a:active{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: none;
    color: black;
}

@font-face{
    font-family: Munchkin;
    src: url('../Quasimodo Regular.ttf');
}

@media (max-width: 992px){
    .mobileMenu{
        transform: translateX(-100%);
        position: fixed;
        top: 0px;
        bottom: 0;
        margin: auto;
        left: 0;
        transition: all ease 0.25s;
    }

    .mobileMenu.open {
        transform: translateX(0%);
        box-shadow: 1px 0px 5px #000000;
        background-color: #F6F1DF;
        border: 2px solid black;
        border-radius: 15px;
    }

    .mobileMenu .navbar-nav{
        overflow-y: auto;
    }

    .overlay{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        background-color: #F6F1DF;
        display: none;
    }

    .overlay.open{
        display: block;
        z-index: 1029;
    }
}