
@{
    ViewData["Title"] = "Index";
}

<div class="w-100 text-center mt-5 mb-5">
    <h1>Game Setup</h1>
</div>

<div class="w-100" style="overflow-x: hidden; overflow-y: scroll;">

</div>
<div class="custom-border w-100">
    
</div>

<div class="custom-border button-small m-3 text-center" style="position: fixed; bottom: 0; left: 0; padding-top: 3px;">
    <i class="fas fa-bars fa-2x navbar-toggler navbar-toggler-icon" style="padding-left: 8px;"></i>
</div>

<div class="custom-border button-small m-3 text-center" style="position: fixed; bottom: 0; right: 0; padding-top: 7px;">
    <a href="@Url.Action("Add", "Munchkin")">
        <i class="fas fa-plus fa-2x"></i>
    </a>
</div>

