
@{
    ViewData["Title"] = "AddMunchkin";
}

@using Models;
@using Models.Enums;

<div class="w-100 text-center mt-3 mb-2">
    <h1>Add<br />Munchkin</h1>
</div>

<div class="hiddenscroll text-center m-auto" style="height: 65vh; overflow-y: scroll;">
    @{
        foreach (Munchkin m in ViewBag.Munchkins)
        {            
            if (m.Id != ViewBag.MunchkinId)
            {
                int battle = ViewBag.BattleId;
                int munchkin = ViewBag.MunchkinId;

                <a href="@Url.Action("AddMunchkinToBattle", "Battle", new { m.Id, battle, munchkin })">
                    <div class="overview custom-border ml-auto mr-auto mb-3 mt-2">
                        <div class="d-inline-block float-left">
                            <h2 class="pl-2 pt-1 mb-0 float-left text-left" style="width: 70vw;">@m.Name</h2>
                        </div>
                        <div class="d-inline-block float-right pt-2 pr-2">
                            @{
                                if (m.Gender == MunchkinGender.Male)
                                {
                                    <i class="fas fa-mars" style="font-size: xx-large;"></i>
                                }
                                else
                                {
                                    <i class="fas fa-venus" style="font-size: xx-large;"></i>
                                }
                            }
                        </div>
                        <div class="text-left float-left pl-2">
                            <div class="d-inline-block">
                                <p class="mb-0">Level @m.Level</p>
                                <p class="mb-0">Gear @m.Gear</p>
                            </div>
                            <div class="d-inline-block">
                                <h1 class="pl-4 mb-0">
                                    @{
                                        int strength = m.Level + m.Gear;
                                    }
                                    @strength
                                </h1>
                            </div>
                        </div>
                    </div>
                </a>
            }
        }
    }
</div>

